{{!-- Setup the `index.handlebars` to have the template that Handlebars can render onto.

Create a button in `index.handlebars` that will submit the user input into the database --}}

<div class="container">
    <h2>Enter a burger name or choose from suggested list</h2>

    <form class="create-form">
        <div class="form-row">
            <div class="col">
                <label for=newburger></label>
                <input type="text" class="form-control" id="newburger" name="burger" placeholder="burger name">
            </div>
            <button type="submit" class="btn btn-primary" id="addburger">Submit</button>
    </form>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p><strong>select your burger</strong></p>
            </div>
            <div class="panel-body">

                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}

                    <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                    <button type="button" class="devour btn btn-warning" data-id="{{this.id}}"
                        data-newDevoured="{{devour}}">devour</button>
                    <hr>
                    {{/unless}}
                    {{/each}}
                </ul>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p><strong>select your burger</strong></p>
            </div>
            <div class="panel-body">


                <ul>
                    {{#each burgers}}
                    {{#if devoured}}

                    <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>

                    <hr>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>